.App {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.slider-container
{

  position: relative;
  height: 100vh;

  display: flex;
flex-direction:column;
  justify-content: center;
  align-items: center;
 

}

.prev
{
  position: absolute;
  cursor: pointer;
  top: 50%;
  left: 30px;
  user-select: none;
  z-index: 20;
}
.next
{
  position: absolute;
  cursor: pointer;
  top: 50%;
  right: 30px;
  user-select: none;
  z-index: 20;
}

.carousal
{
  display: flex;
  justify-content: center;
  align-items: center;
}
.slide-image
{
  border-radius: 20px;
  width: 800px;
  height: 500px;

}
.slide
{
  opacity: 0.4;
  transition: 0.5s ease;
  
  transform: scale(0.1)
  
}
.slide.active
{
  opacity: 1;
  transition: 0.5s ease;
  transform: scale(1.05);
}

footer a{
  text-decoration: none;
  color: blue;
  font-weight: lighter;
  
}
footer
{
  margin-top: 20px;
}